@import 'tailwindcss';

:root {
  --text: 34, 34, 34, 1;
  --title: #222;
  --bg: 255, 255, 255, 1;
  --code-bg: #232936;
  --link: #d23669;
  --inlineCode-bg: rgba(255, 229, 100, 0.2);
  --inlineCode-text: #1a1a1a;
  --pink: lab(63 59.32 -1.47);
  --purple: lab(33 42.09 -43.19);
  --view-transition-duration: 0.5s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: 255, 255, 255, 0.88;
    --title: #fff;
    --bg: 40, 44, 53, 1;
    --code-bg: #191d27;
    --link: #ffa7c4;
    --inlineCode-bg: rgba(115, 124, 153, 0.2);
    --inlineCode-text: #e6e6e6;
    --pink: lab(81 32.36 -7.02);
    --purple: lab(78 19.97 -36.75);
    --view-transition-duration: 0.5s;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1.25rem;
}

@theme {
  --color-background: rgba(var(--bg));
  --color-text: rgba(var(--text));
}
